html,
body,
p,
div,
li,
ul {
  margin: 0;
  padding: 0;
}
.app-header {
  background: url(/static/assets/kaihe/images/hdbg.014d53fd.jpg);
  background-size: cover;
  position: relative;
  font-size: 12px;
  width: 100%;
  height: 246px;
  text-align: left;
  color: #fff;
}
.imagesDataList1 {
  clear: both;
}
.imagesDataList2 {
  float: left;
  margin: 10px;
}
