html,
body,
ul,
li,
div,
p,
section,
footer,
head {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
}
html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  background-color: #e9edf0;
  font-size: 14px;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}
a {
  background: transparent;
  border: none;
  outline: none;
}
.bs-clear {
  clear: both;
  height: 0;
}
.bs-clear10 {
  clear: both;
  height: 10px;
}
.bs-clear20 {
  clear: both;
  height: 20px;
}
.TopicsItemView {
  position: relative;
}
.TopicsItemView.noCover .cover {
  display: none;
}
.TopicsItemView.noCover .content {
  margin-left: 6px;
}
.TopicsItemView .cover {
  position: absolute;
  left: 20px;
  top: 15px;
}
.TopicsItemView .cover img {
  width: 200px;
  height: 120px;
}
.TopicsItemView .content {
  margin-left: 220px;
}
.TopicsItemView .content .title {
  color: #333;
  font-size: 16px;
  line-height: 40px;
}
.TopicsItemView .content .summary {
  color: #777;
  font-size: 13px;
  line-height: 1.6;
  overflow: hidden;
  height: 42px;
}
.TopicsItemView .infos {
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  color: #999;
  font-size: 13px;
}
.TopicsItemView .infos .avatar {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  position: relative;
  top: 5px;
}
.TopicsItemView .infos span {
  display: inline-block;
  margin-left: 20px;
}
.TopicsItemView .infos span.nickname {
  margin-left: 5px;
}
.bs-dialog {
  width: 300px;
  height: 150px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.32), 0 8px 40px rgba(0, 0, 0, 0.4);
  padding: 24px;
}
.bs-dialog-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: #222;
}
.bs-dialog-title * {
  font-size: 20px;
}
.bs-dialog-header {
  position: relative;
}
.bs-dialog-header span {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 12px;
  right: 10px;
  background: url("/static/images/uis/close_16px.png") no-repeat;
  background-size: cover;
  cursor: pointer;
}
.bs-dialog-footer {
  position: absolute;
  bottom: 15px;
  right: 10px;
}
.bs-dialog-footer i {
  height: 30px;
  line-height: 30px;
  margin: 6px 6px 0;
  padding: 0 20px;
  color: #333;
  border-radius: 2px;
  font-weight: 100;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1), background 200ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 2px;
}
.bs-dialog-footer i.ok {
  color: #fff;
  background: #4285f4;
  color: #ffffff;
}
.bs-dialog-footer i.ok:hover {
  background: #4285f4;
  color: #ffffff;
}
.bs-dialog-footer i.cancel:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.bs-dialog-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.user-create .regTypeCurrent {
  color: #1b6d85;
}
.bs-card {
  background-color: #ffffff;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #eeeeee;
}
.bs-card .bs-card-ms {
  margin: 0 15px;
}
.app-header {
  height: 60px;
  width: 100%;
}
.app-header .nav {
  width: 100%;
  height: 60px;
  background: #19bca1;
  position: fixed;
  top: 0;
  left: 0;
}
.app-header .nav-right {
  float: right;
  height: 60px;
  margin-right: 20px;
}
.app-header .nav-right .login-link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  line-height: 60px;
  padding: 0 5px;
}
