@import "../../_variables.less";


.app-header{
  height: @PAGE_HEADER_HEIGHT;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background: rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);

  .nav{
    width: 100%;
    height: @PAGE_HEADER_HEIGHT;
    //background: #19bca1;
    //position: fixed;
    top:0;
    left: 0;
    z-index: 10;
  }

  .nav-container{
    margin: 0 20px;
  }

  .nav-left{
    float: left;
    height: @PAGE_HEADER_HEIGHT;
  }

  .nav-left-link{
    color: #ffffff;
    text-decoration: none;
    display:inline-block;
    line-height:  @PAGE_HEADER_HEIGHT;
    padding: 0 5px;
  }



  .nav-right{
    float: right;
    height: @PAGE_HEADER_HEIGHT;
    .login-link{
      color: #ffffff;
      text-decoration: none;
      display:inline-block;
      line-height:  @PAGE_HEADER_HEIGHT;
      padding: 0 5px;
    }
    margin-right: 20px;
  }


  .login_ok{

    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    font-size: 13px;
    .nickname{
      display: inline-block;
    }

    .avatar{
      width: 40px;
      height: 40px;
      border-radius: 100px;
      display: inline-block;
      margin: 0 20px;
    }
    .exit{
      color: #f0f0f0;
    }
  }


}













.app-footer{
  height: 60px;
}
.app-footer-content{
  display: none;
  padding: 20px 0;
  background: #000;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #ffffff;
}







#mainBody{
  width: 100%;
}

.app-wrapper{
  width: 100%;
}

.app-bg{
   background-image: url("/static/images/uis/bg01.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 50%;
   -webkit-filter: blur(65px);
   filter: blur(65px);
   opacity: .6;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 0;
 }

.app-root{
  position: relative;
  z-index: 1;
}


.bs-router-fade-enter-active{
  transition: all .5s
}
.bs-router-fade-enter{
  opacity: 0;
  //-webkit-transform: translate(30px, 0);
  //transform: translate(30px, 0);
  transform: translate( 0,30px);
}

.bs-router-fade-leave-active{
  display: none;
}
.bs-router-fade-leave-to {
  display: none;
  //opacity: 0;
  //-webkit-transform: translate(30px, 0);
  //transform: translate(30px, 0);
}