.TopicsItemView{
  position: relative;

  &.noCover{
    .cover{
      display: none;
    }
    .content{
      margin-left: 6px;
    }
  }


  .cover{
    position: absolute;
    left: 20px;
    top: 15px;
    img{
      width: 200px;
      height: 120px;
    }
  }
  .content{
    margin-left: 220px;
    .title{
      color: #333;
      font-size: 16px;
      line-height: 40px;
      display: block;
      text-decoration: none;
    }
    .summary{
      color: #777;
      font-size: 13px;
      line-height: 1.6;
      overflow: hidden;
      height: 42px;
    }
  }


  .infos{
    margin-top: 10px;
    line-height: 25px;
    color: #999;
    font-size: 13px;
    .avatar{
      width: 20px;
      height: 20px;
      border-radius: 100px;
      position: relative;
      top:5px;
    }

    span{
      display: inline-block;
      margin-left: 10px;
    }
    span.nickname{
      margin-left: 5px;
    }
  }
}


@media screen and (max-width: 750px)  {

  .TopicsItemView{
    .cover{
      display: none;
    }
    .content{
      margin-left: 6px;
    }
  }
}


@media screen and (max-width: 420px)  {
  .TopicsItemView{
    .infos span.createtime{
      display: none;
    }
  }
}

.TopicSingleView {

  h1.topic-title {
    font-size: 20px;
  }
  .topic-summary {
    padding: 25px;
    background: #f3f5f9;
    line-height: 24px;
    overflow: hidden;
  }

  .topic-content {
    margin: 20px 0;
    p {
      margin: 10px 0;
    }
  }

}



